body {
	margin: 0;
	padding: 0;
	background-color: RGB(238, 238, 238);
}

#jointitle {
	margin : 0;
	text-align: center;
	line-height: 100px;
	background-color: RGB(16, 131, 136); 
	color: rgb(255, 235, 122);
	height : 100px;
}

#chaekgabang_join_inputform {
	width: 700px;
	height: 100%;
	margin: 0px auto;
}

#chaekgabang_join_inputlist {
	padding: 0px;
	clear: both;
	list-style: none;
}

#chaekgabang_join_inputlist > li > input[type="text"] {
	position: relative;
	border: 0;
}

#chaekgabang_join_inputlist > li> input {
	position:relative;
}

.textfields {
	border: 0px;
	height: 21px;
}

#idck{
	background-color: #555555; 
    border: none;
    color: white;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.guideText {
	display: inline-block;
	width: 150px;
	height: 21px;
	background-color: RGB(34, 193, 126);
	color : #ffffff;
	text-indent: 20px;
	margin-top: 20px;
	border: 0px;
}

.errMsg{
	color:red;
	font-size: 14px;
}

.joinPageBtns{
	background-color: #555555; 
    border: none;
    color: white;
    width : 80px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 25px;
}